MYSQL_HOST=localhost
MYSQL_USER=admin
MYSQL_PASS=password
MYSQL_ROOT_PASSWORD=rushi308
MYSQL_DATABASE= gs_db
MYSQL_ROOT_USER=root
DB_CONTAINER=db
DB_PORT=3306
DOCKER_DB_PORT = 3308
NODE_LOCAL_PORT = 3001