extends header
block content
    .container.ml-4.mt-4
        .row 
            h4 Create Post
        .row
            .container-fluid
                .row.mt-4
                    .col-md-12
                        .card
                            .card-body
                                .row
                                    .col-md-1
                                        img.img-responsive(src='views/image/user.png') 
                                    .col-md-10
                                         h5 Honey Patel 
                        form(action='/addpost' method='POST')
                                .row.ml-3.mt-4
                                    .col-md-10 
                                        input(class='form-control',name='title', type='text', id='title' ,placeholder='Title') 
                                .row.ml-3.mt-4
                                    .col-md-10 
                                        select#selectgame.form-control(name='gameId')
                                            option Select game
                                            for game in games
                                                option(value="#{game.id}") #{game.name}
                                            
                                .row.ml-3.mt-4
                                    .col-md-10 
                                            textarea#tips.form-control(rows='3',name='tips',placeholder='Whats your Tips,honey??')
                                .row.ml-3.mt-4
                                    .col-md-10              
                                        button.btn.btn-primary.mb-2(type='submit') Post