extends header
block content
    .container.ml-4.mt-4
        .row 
            h4 Create Post
        .row
            .container-fluid
                .row.mt-4
                    .col-md-12
                        .card
                            form(action='/insertPost' method='POST')
                                .row.ml-3.mt-4
                                    .col-md-10 
                                        input(class='form-control' name='title' value ='' type='text' id='title' placeholder='Title') 
                                .row.ml-3.mt-4
                                    .col-md-10 
                                        select(name='gameId' value ='')#selectgame.form-control
                                            option Select Game
                                            for game in games
                                                option(value=game.id) #{game.name}
                                .row.ml-3.mt-4
                                    .col-md-10 
                                            textarea#tips.form-control(rows='3' placeholder='Whats your tips...??' name='description' value ='')
                                .row.ml-3.mt-4
                                    .col-md-10                   
                                            input#File1.form-control-file(type='file')
                                .row.ml-3.mt-4
                                    .col-md-10              
                                            button.btn.btn-primary.mb-2(type='submit') Post