extends header
block content
    .container.ml-4.mt-4
        .row 
            h4 Games 
        .row
            .section-loaded
                for game in games
                    .square 
                        .sqtext #{game.name} (#{game.postCount})
                