doctype html
head
  title Game Strategy
  // Core theme CSS (includes Bootstrap)
  style 
          include ./css/bootstrap.min.css 
  style 
          include ./css/styles.css
  
#wrapper.d-flex
  // Sidebar
  #sidebar-wrapper.border-end.bg-white
    .sidebar-heading.border-bottom.bg-light Game Strategy
    .list-group.list-group-flush
      a.list-group-item.list-group-item-action.list-group-item-light.p-3(href='/') Home
      a.list-group-item.list-group-item-action.list-group-item-light.p-3(href='profile') Profile
      a.list-group-item.list-group-item-action.list-group-item-light.p-3(href='game') Game
      
      // Page content wrapper
  #page-content-wrapper
    // Top navigation
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.border-bottom
      .container-fluid
        #navbarSupportedContent.collapse.navbar-collapse
          ul.navbar-nav.ms-auto.mt-2.mt-lg-0
            li.nav-item.active
              a.nav-link(href='#!') Hello,Honey Patel
            li.nav-item.active
              a.nav-link(href='Login') Login
            
                // Page content
    block content
    