doctype html
head
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(charset='utf-8')
  title Login / Sign Up Form
  link(rel='shortcut icon' href='/assets/favicon.ico')
  link(rel='stylesheet' href='view/css/main.css')
.container
  form#login.form
    h1.form__title GAME STRATEGY
    .form__message.form__message--error
    .form__input-group
      input.form__input(type='text' autofocus='' placeholder='Username or email')
      .form__input-error-message
    .form__input-group
      input.form__input(type='password' autofocus='' placeholder='Password')
      .form__input-error-message
    button.form__button(type='submit') Login
    p.form__text
      a.form__link(href='#') Forgot your password?
    p.form__text
      a#linkCreateAccount.form__link(href='./') Don&apos;t have an account? Create account
  form#createAccount.form.form--hidden
    h1.form__title Create Account
    .form__message.form__message--error
    .form__input-group
      input#signupUsername.form__input(type='text' autofocus='' placeholder='Username')
      .form__input-error-message
    .form__input-group
      input.form__input(type='text' id='First Name' autofocus='' placeholder='First Name')
      .form__input-error-message
    .form__input-group
      input.form__input(type='text' id='Last Name' autofocus='' placeholder='Last Name')
      .form__input-error-message
    .form__input-group
      input.form__input(type='text' autofocus='' placeholder='Email Address')
      .form__input-error-message
    .form__input-group
      input.form__input(type='text' id='Mobile No' autofocus='' placeholder='Mobile No +44')
      .form__input-error-message
    .form__input-group
      input.form__input(type='password' autofocus='' placeholder='Password')
      .form__input-error-message
    .form__input-group
      input.form__input(type='password' autofocus='' placeholder='Confirm password')
      .form__input-error-message
    button.form__button(type='submit') Continue
    p.form__text
      a#linkLogin.form__link(href='./') Already have an account? Sign in
script(src='view/js/main.js')
