doctype html
head
  title Game Strategy
  // Core theme CSS (includes Bootstrap)
  style 
          include ./css/bootstrap.min.css 
  style 
          include ./css/styles.css
          include  ./css/main.css
.row.mt-4
    .col-md-5
      .container
          form(action='/login' method='POST')#login.form
            h1.form__title GAME STRATEGY
            .form__input-group
              input.form__input(type='text' name='email' value='' placeholder='Email')
              .form__input-error-message
            .form__input-group
              input.form__input(type='password' name='password' value='' placeholder='Password')
              .form__input-error-message
            button.form__button(type='submit') Login
            p
              a.form__link(href='forgotpwd') Forgot your password?
            p
              a.form__link(href='register') Don&apos;t have an account? Create account
        
