block content
        doctype html
        head
          link(rel='stylesheet' href='views/css/main.css')
        .row
            p You've successfully register.
            p
              a#linkLogin.form__link(href='login') Click here to login in system
        script(src='views/js/main.js')
