doctype html
head
  // Core theme CSS (includes Bootstrap)
  style 
          include ./css/bootstrap.min.css 
  style 
          include ./css/styles.css
          include  ./css/main.css
.row.mt-4
    .col-md-5
      .container
          form(action='/login' method='POST')#login.form
            h1.form__title GAME STRATEGY
          p.mt-2
            | You need to login to view this page.
            a(href='login') Click Here
            | &nbsp; to login.

